.menu {
    width: 100%;
    height: 100px;
    position: relative;
    background: var(--primary-background);
    display: inline-block;
}

.menu-items {
    display: contents;
}

.logo .logo-xternit {
    display: inline-block;
    float: left;
    max-height: 40px;
    max-width: 100px;
    margin-top: -10px;
}

.links {
    display: inline-block;
    float: right;
}

.links a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 0 20px;
    display: inline-block;
}

.links a:last-of-type {
    padding-right: unset;
}

@media only screen and (max-width: 650px) {

}